{% extends 'items/base.html' %}

{% load static %}

{% block title %}Lista de itens{% endblock %}
{% block stylesheet %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/items_main.css' %}">
{% endblock %}

{% block content %}
  
  <div class="container">
    <h1>Lista de Itens</h1>
    {% if items_list %}
      <form >
        <div class="expandable-list">  
          <ul>
            {% if has_material_intalacao %}
              <a href="{% url 'items_material_instalacao' "Material para instalação" %}"> Material para instalação </a>
            {% else %}
              <a href="#" class="disabled-link">Não há nenhum item cadastrado na categoria <strong>Material para instalação</strong></a>
            {% endif %}
            {% if has_informatica %}
              <a  href="{% url 'items_informatica' "Informática" %}">Informática</a>
            {% else %}
              <a href="#" class="disabled-link">Não há nenhum item cadastrado na categoria <strong>Informática</strong></a>
            {% endif %}
            {% if has_material_consumo %}
              <a  href="{% url 'items_material_consumo' "Material de Consumo" %}">Material para consumo</a>
            {% else %}
              <a href="#" class="disabled-link">Não há nenhum item cadastrado na categoria <strong>Material para consumo</strong></a>
            {% endif %}
            {% if has_descarte %}
              <a  href="{% url 'items_descarte' "Descarte" %}">Descarte</a>
            {% else %}
              <a href="#" class="disabled-link">Não há nenhum item cadastrado na categoria<strong>"Descarte"</strong></a>
            {% endif %}
            {% if has_ferramenta %}
              <a href="{% url 'items_ferramentas' "Ferramenta" %}"> Ferramentas</a>
            {% else %}
              <a href="#" class="disabled-link">Não há nenhum item cadastrado na categoria <strong>Ferramentas</strong></a>
            {% endif %}
          </ul>
        </div>
      </form>
    {% else %}
      <p class="notifications_no_items">Não há itens cadastradas.</p>
    {% endif %}
    <a href="{% url 'items_create' %}" class="btn btn-cadastrar">Cadastrar Item</a>
  </div>
  

{% endblock %}