{% extends 'items/base.html' %}

{% load static %}

{% block title %}Deletar de Itens{% endblock %}
{% block extra_styles %}
  <link rel="stylesheet" href="{% static 'css/items_delete.css' %}">
{% endblock %}

{% block main %} 

  <div class="container">

    <h1>Ficha de deleção de item cadastrado no sistema</h1>
    <p>Tem certeza que deseja excluir item: <strong>{{ items.name }}</strong> ?</p>

    <form method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-delete">Excluir</button>
      <a href="{{ previous_page }}" class="btn btn-cancelar">Cancelar</a>
    </form>

  </div> 

{% endblock %}

  




