{% extends 'items/base.html' %}

{% load static %}

{% block title %}Histórico{% endblock %}

{% block extra_styles %}
  <link rel="stylesheet" href="{% static 'css/itemsAuditLog.css' %}">
{% endblock %}

{% block content %} 

    <h1>Histórico de ações realizadas dentro do sistema</h1>

    <!-- Barra de pesquisa -->
    <form class="form-search" method="GET" action="{% url 'itemsAuditLog' %}">
        
        <input type="text" name="action" placeholder="Busca pela ação realizada" value="{{ query|default_if_none:'' }}">
        <input type="text" name="item" placeholder="Buscar por nome do item" value="{{ query|default_if_none:'' }}">

        <a href="?download_pdf=true&action={{ action|default_if_none:'' }}&item={{ item|default_if_none:'' }}" class="btn btn-primary">Baixar Relatório em PDF</a>
        <button type="submit" class="btn btn-save">Buscar item</button>
        <a href = "{% url "itemsAuditLog" %}" class = "btn btn-cancelar"> Cancelar busca </a>      
        
    </form>
    
    <table>
        <thead>
            <tr>
                <th>Ação</th>
                <th>Item</th>
                <th>Usuário</th>
                <th>Data/Hora</th>
                <th>Observação</th>
            </tr>
        </thead>
        <tbody>
            {% if results %}
                {% for log in results %}
                    <tr>
                        <td>{{ log.action }}</td>
                        <td>{{ log.item_deletado }}</td>
                        <td>{{ log.user.username }}</td>
                        <td>{{ log.timestamp }}</td>
                        <td>{{ log.observation }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5">Nenhum registro encontrado.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}
