{% extends 'items/base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}Cadastro de Itens{% endblock %}
{% block extra_styles %}
  <link rel="stylesheet" href="{% static 'css/items_form.css' %}">
{% endblock %}

{% block content %}
  <div class="container">

    <h1>{{ title }}</h1>

    <!-- Item já existe -->
    {% if items.pk %}

      <form method="POST">

        {% csrf_token %}

        {{ form.non_field_errors }}
        
        <!-- Renderização dos demais campos automaticamente -->
        {% for field in form %}

          {% if field.name != 'category' and field.name != 'sub_category' %}
              {{ field|as_crispy_field }}
          {% endif %}

        {% endfor %}

        <!-- Campo 'category' e 'sub-category' desativado manualmente -->
        <div class = "form-group">
          <label for = "{{ form.category.id_for_label }}"> Categoria </label>
          <input type = "text" name = "{{ form.category.name }}" id = "{{ form.category.id_for_label }}" value = "{{ form.category.value }}" class = "form-control" readonly>
        </div>

        <div class = "form-group">
          <label for = "{{ form.sub_category.id_for_label }}"> Sub-Categoria </label>
          <input type = "text" name = "{{ form.sub_category.name }}" id = "{{ form.sub_category.id_for_label }}" value = "{{ form.sub_category.value }}" class = "form-control" readonly>
        </div>

        <button type = "submit" class = "btn btn-save"> Salvar </button>
        <a href = "{{ previous_page }}" class = "btn btn-cancelar"> Cancelar </a>

      </form>
    
    <!-- Item sendo criado -->
    {% else %}

      <form method="POST">
        {% csrf_token %}
        
        <!-- Renderização oscampos automaticamente -->
        {% for field in form %}

          <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
          </div>

        {% endfor %}

        <h3>Tombos</h3>
        <div id="tombo-container">
          {{ form.management_form }} <!-- Necessário para o FormSet -->
          {% for tombo_form in formset %}
            <div class="form-group">
              {{ tombo_form.tombo.label_tag }}
              <div class="input-group">
                {{ tombo_form.tombo }} <!-- Renderiza o campo de tombo -->
                <div class="input-group-append">
                  {% if tombo_formset.can_delete %}
                    <button type="button" class="btn btn-danger remove-tombo-btn">Remover</button>
                  {% endif %}
                </div>
              </div>
              {{ tombo_form.errors }} <!-- Exibe erros relacionados ao campo de tombo -->
            </div>
          {% empty %}
              <p>Não há tombos. Adicione um.</p>
          {% endfor %}
        </div>
        
        <button type="button" id="add-tombo-btn"> add tombo </button>
        <button type = "submit" class = "btn btn-save"> Salvar </button>
        <a href = "{{ previous_page }}" class = "btn btn-cancelar"> Cancelar </a>

      </form>
    {% endif %}
  </div>

  <script type="text/javascript">
    $(document).ready(function() {
      // Campos select category e sub-category
      $('#id_category').change(function() {
        var category = $(this).val();
        $.ajax({
          url: '{% url "ajax-load-subcategories" %}',
          data: {'category': category},
          success: function(data) {
            var $subCategory = $('#id_sub_category');
            $subCategory.empty();
            $.each(data, function(index, value) {
              $subCategory.append($('<option></option>').attr('value', value).text(value));
            });
          }
        });
      });
  
      var initialCategory = $('#id_category').val();
      if (initialCategory) {
        $.ajax({
          url: '{% url "ajax-load-subcategories" %}',
          data: {'category': initialCategory},
          success: function(data) {
            var $subCategory = $('#id_sub_category');
            $subCategory.empty();
            $subCategory.append('<option value="">Selecione</option>');
            $.each(data, function(index, value) {
              $subCategory.append($('<option></option>').attr('value', value).text(value));
            });
          }
        });
      }
    });
  </script>
{% endblock %}