{% extends 'items/base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %} {{title}} {% endblock %}
{% block extra_styles %}
  <link rel="stylesheet" href="{% static 'css/items_form.css' %}">
{% endblock %}

{% block main %}

  <div class="container">

    <h1>{{title}}</h1>
    
    <!-- Formulário de Atualização -->
    {% if object.pk %}

      <form class="form" method="POST">
        {% csrf_token %}

        <!-- Renderiza os campos automaticamente -->
        {% for field in form %}
          <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
          </div>
        {% endfor %}

        <!-- Aqui está o campo hidden que passa o valor da sub categoria -->
        <input type="hidden" id="initial-subcategory" value="{{ initial_sub_category }}">

        <div class="menu-btn">
          {% if not is_view_mode %}
            <button type = "submit" class = "btn btn-save"> Salvar </button>
            <a href = "{{ previous_page }}" class = "btn btn-cancelar"> Cancelar </a>
          
          {% else %}
            <a href = "{{ previous_page }}" class = "btn btn-cancelarFHVisualiar "> Cancelar </a>
          {% endif %}
          
        </div>

      </form>

    
      <!-- Formulário de criação -->
    {% else %}

      <form class="form" method="POST">
        {% csrf_token %}
        
        {% if form.errors %}
          <div class="alert alert-danger">
            <strong>Corrija os erros abaixo:</strong>
            <ul>
              {% for field in form %}
                {% for error in field.errors %}
                  <li>{{ error }}</li>
                {% endfor %}
              {% endfor %}
            </ul>
          </div>
        {% endif %}
        
        <!-- Renderização oscampos automaticamente -->
        {% for field in form %}
          <div class="form-group">

            <!-- Renderizando o campo de input ou select -->
            {% if field.name == 'category' %}

              <!-- Categoria: irá disparar a lógica de subcategoria -->
              {{ field.label_tag }}
              {{ field }}  <!-- Este será o <select> de categoria -->

            {% elif field.name == 'sub_category' %}

              <!-- Subcategoria: será preenchido dinamicamente -->
              {{ field.label_tag }}
              {{ field }}

            {% else %}

              {{ field.label_tag }}
              {{ field }}
              
            {% endif %}

          </div>
        {% endfor %}
        
        <div class="menu-btn">
          <button type = "submit" class = "btn btn-save"> Salvar </button>
          <a href = "{{ previous_page }}" class = "btn btn-cancelar"> Cancelar </a>       
        </div>
        
      </form>

    {% endif %}

    <script type="text/javascript">

      $(document).ready(function() {

        var initialCategory = $('#id_category').val();
        var initialSubCategory = '{{ form.sub_category.value }}';

        // Função para carregar subcategorias dinamicamente
        function loadSubcategories(categoryId, selectedSubCategory) {
          $.ajax({
            url: '{% url "ajax-load-subcategories" %}',
            data: {
              'category': categoryId
            },
            success: function(data) {
              var $subCategory = $('#id_sub_category');
              $subCategory.empty();  // Limpa as opções de subcategoria

              // Preenche o campo de subcategorias com os dados recebidos
              $.each(data, function(index, value) {
                  var option = $('<option></option>').attr('value', value).text(value);
                  $subCategory.append(option);
              });

              // Se houver uma subcategoria selecionada previamente, definir como selecionada
              if (selectedSubCategory) {
                  $subCategory.val(selectedSubCategory);
              }
            },

            error: function(xhr, status, error) {
              console.log("Erro ao carregar subcategorias:", error);
            }
          });
        }

        // Carregar subcategorias quando uma nova categoria for selecionada
        $('#id_category').change(function() {
          var categoryId = $(this).val();
          loadSubcategories(categoryId, '');  // Limpa a subcategoria selecionada ao mudar a categoria
        });

        // Verifica se há uma categoria inicial no modo de atualização
        if (initialCategory) {
          loadSubcategories(initialCategory, initialSubCategory);  // Carrega subcategorias com base na categoria inicial
        }
      });
    </script>
    
  </div>

{% endblock %}