{% extends 'items/base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}Cadastro de Itens{% endblock %}
{% block extra_styles %}
  <link rel="stylesheet" href="{% static 'css/items_form.css' %}">
{% endblock %}

{% block content %}

  <div class="container">

    <h1>{{ title }}</h1>
    
    <!-- Item já existe -->
    {% if object.pk %}

      <!-- Formulário de atualização -->
      <form class="form" method="POST">
        {% csrf_token %}

        <!-- Renderiza os campos automaticamente -->
        {% for field in form %}
          <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
          </div>
        {% endfor %}

        <button type="submit" class="btn btn-save">Atualizar</button>
        <a href="{{ previous_page }}" class="btn btn-cancelar">Cancelar</a>

    </form>

    <!-- Item sendo criado -->
    {% else %}

      <form class="form" method="POST">
        {% csrf_token %}
        
        <!-- Renderização oscampos automaticamente -->
        {% for field in form %}
          <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
          </div>
        {% endfor %}

        <button type = "submit" class = "btn btn-save"> Salvar </button>
        <a href = "{{ previous_page }}" class = "btn btn-cancelar"> Cancelar </a>

      </form>
    {% endif %}
  </div>

  <script type="text/javascript">
    $(document).ready(function() {

      // Armazene a URL em uma variavel 
      var loadSubcategoriesUrl = "{% url 'load-subcategory' %}";

      // Campos select category e sub-category
      $('#id_category').change(function() {
        var category = $(this).val();
        $.ajax({
          url: loadSubcategoriesUrl,
          data: {'category': category},
          success: function(data) {
            var $subCategory = $('#id_sub_category');
            $subCategory.empty();
            $.each(data, function(index, value) {
              $subCategory.append($('<option></option>').attr('value', value).text(value));
            });
          }
        });
      });
    });
  </script>
{% endblock %}