{% extends 'items/base.html' %}

{% load static %}

{% block title %}Histórico{% endblock %}

{% block extra_styles %}
  <link rel="stylesheet" href="{% static 'css/itemsAuditLog.css' %}">
{% endblock %}

{% block content %} 
    <h1>Histórico de ações realizadas dentro do sistema</h1>

    <!-- Botão para baixar o PDF -->
    <div class="download-button">
        <a href="?download_pdf=true" class="btn btn-primary">Baixar Relatório em PDF</a>
    </div>

    <table>
        <thead>
            <tr>
                <th>Ação</th>
                <th>Item</th>
                <th>Usuário</th>
                <th>Data/Hora</th>
                <th>Observação</th>
            </tr>
        </thead>
        <tbody>
            {% for log in logs %}
                <tr>
                    <td>{{ log.action }}</td>
                    <td>{{ log.item_deletado }}</td>
                    <td>{{log.user.username }}</td>
                    <td>{{ log.timestamp }}</td>
                    <td>{{ log.observation }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
