{% extends 'items/base.html' %}

{% load static %}

{% block title %}Histórico{% endblock %}

{% block extra_styles %}
  <link rel="stylesheet" href="{% static 'css/items_historico.css' %}">
{% endblock %}

{% block main %} 

    <div class="containerSearch">

        <form class="form-search" method="GET" action="{% url 'items-auditLog' %}">
            
            <h1> Pesquisar </h1>
            <label for="action"> Ação realizada </label>
            <input type="text" name="action" placeholder="Busca pela ação realizada" value="{{ query|default_if_none:'' }}">
            
            <label for="item"> Nome do item </label>
            <input type="text" name="item" placeholder="Buscar por nome do item" value="{{ query|default_if_none:'' }}">
    
            <button type="submit" class="btn btn-save">Buscar item</button>
            <a href = "{% url "items-auditLog" %}" class = "btn btn-cancelar"> Cancelar busca </a>      
            <a href="?download_pdf=true&action={{ action|default_if_none:'' }}&item={{ item|default_if_none:'' }}" class="btn-download">Baixar Histórico em PDF</a>
        </form>

    </div>

    <div class="containerHistorico">
        <h1>Histórico de ações realizadas dentro do sistema</h1>

        <table>
            <thead>
                <tr>
                    <th>Ação</th>
                    <th>Item</th>
                    <th>Usuário</th>
                    <th>Data/Hora</th>
                    <th>Observação</th>
                </tr>
            </thead>
            <tbody>
                {% if results %}
                    {% for log in results %}
                        <tr>
                            <td>{{ log.action }}</td>
                            <td>{{ log.item_deletado }}</td>
                            <td>{{ log.user.username }}</td>
                            <td>{{ log.timestamp }}</td>
                            <td>{{ log.observation }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5">Nenhum registro encontrado.</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
            
    </div>

{% endblock %}
