{% extends 'items/base.html' %}

{% load static %}

{% block title %}Historico{% endblock %}
{% block extra_styles %}
  <link rel="stylesheet" href="{% static 'css/itemsAuditLog.css' %}">
{% endblock %}

{% block content %} 
    <h1>Histórico de ações realizada dentro do sistema</h1>
    <table>
        <thead>
            <tr>
                <th>Ação</th>
                <th>Item</th>
                <th>Usuário</th>
                <th>Data/Hora</th>
                <th>Observação</th>
            </tr>
        </thead>
        <tbody>
            {% for log in logs %}
                <tr>
                    <td>{{ log.action }}</td>
                    <td>{{ log.item_deletado}}</td>
                    <td>{{ log.user }}</td>
                    <td>{{ log.timestamp }}</td>
                    <td>{{ log.observation }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

  

