{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Gerenciamento de Almoxarifado</title>

  <link rel="stylesheet" href="{% static 'css/items_stock.css' %}">
  <script src="{% static 'js/items_stock.js' %}"></script>
  
</head>
<body>
  <header>
    <a href="{% url 'items_main' %}"> <h2>Gerenciador de Almoxarifado</h2></a>
    <form method="POST" action="{% url 'logout' %}">
      {% csrf_token %}
      <button class="button_logout" type="submit">SAIR</button>
  </header>

  <div class="container">
    <div class="expandable-list">
        <div class="item">
            <div class="header" onclick="toggleContent(this)">
                <span class="arrow">&#9654;</span> 
                Material para instalação
            </div>
            <div class="content">
                <p>Detalhes do Item 1</p>
            </div>
        </div>
        <div class="item">
            <div class="header" onclick="toggleContent(this)">
                <span class="arrow">&#9654;</span>
                Informática
            </div>
            <div class="content">
                <p>Detalhes do Item 2</p>
            </div>
        </div>
        <div class="item">
          <div class="header" onclick="toggleContent(this)">
              <span class="arrow">&#9654;</span>
              Ferramentas
          </div>
          <div class="content">
              <p>Detalhes do Item 2</p>
          </div>
      </div>
      <div class="item">
        <div class="header" onclick="toggleContent(this)">
            <span class="arrow">&#9654;</span>
            Material de consumo
        </div>
        <div class="content">
            <p>Detalhes do Item 2</p>
        </div>
        <div class="item">
          <div class="header" onclick="toggleContent(this)">
              <span class="arrow">&#9654;</span>
              Para descarte
          </div>
          <div class="content">
              <p>Detalhes do Item 2</p>
          </div>
      </div>
    </div>
        <!-- Adicione mais itens conforme necessário -->
    </div>
</div>
</body>
</html>