{% extends 'items/base.html' %}

{% load static %}

{% block title %}Sub Itens{% endblock %}
{% block extra_styles %}
  <link rel="stylesheet" href="{% static 'css/items_sub.css' %}">
{% endblock %}

{% block content %} 
  <div class="container">
    <h1 class="titulo">Itens na Categoria: {{ request.resolver_match.kwargs.category }}s</h1>
    <h2>Sub-Categorias: </h2>

    {% if item_ferramenta_list %}
      <form>
        <div class="expandable-list">
          <div class="item">
            <div class="header" onclick="toggleContent(this)">
              <span class="arrow">&#9654;</span> 
              <h1>Ferramentas</h1>
            </div>
            <div class="content">
              {% for item in item_ferramenta_list  %}
                <div class="item-row">
                  <div class="dados_items">
                    <div class="description">
                      <p><strong>Entrada no estoque:</strong> {{item.create_at}}</p>
                      <p>{{item.quantity}} UNIDADE - {{ item.name }} | Marca: {{item.brand}} | Modelo: {{item.model}}</p>
                    </div>
                  </div>
                  <div class="acoes">
                    <a href="{% url 'items_update' pk=item.pk %}" class="btn btn-edit">Editar</a>
                    <a href="{% url 'items_delete' pk=item.pk %}" class="btn btn-delete">Excluir</a>
                    <a href="{% url 'items_form_retirar' pk=item.pk %}" class="btn btn-retirar {% if item.quantity == 0 %} disabled {% endif %}" name="action" value="retirar">Retirar</a>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </form>
    {% endif %}
    <a href="{% url 'items_main' %}" class="btn btn-delete">Voltar para página inicial</a>
  </div> 
{% endblock %}