{% extends 'items/base.html' %}

{% load static %}

{% block title %}Sub items{% endblock %}
{% block extra_styles %}
  <link rel="stylesheet" href="{% static 'css/items_sub.css' %}">
{% endblock %}

{% block content %} 

  <div class="container">
    <h1 class="titulo">Itens na Categoria: {{ request.resolver_match.kwargs.category }}</h1>
    <h2>Sub-Categorias: </h2>

    {% if item_informatica_list %}
      <form>
        <div class="expandable-list">
          <div class="item">
            <div class="header" onclick="toggleContent(this)">
              <span class="arrow">&#9654;</span> 
              <h1>Equipamentos</h1>
            </div>
            <div class="content">
              {% for item in item_informatica_list  %}
                {% if item.sub_category == "EQUIPAMENTOS" %}
                  <div class="item-row">
                    <div class="dados_items">
                      <div class="description">
                        <p><span>Entrada no estoque:</span></p>
                        <p>{{item.create_at}}</p>
                        <p><span>Nome:</span> {{ item.name }}</p>
                        <p><span>Unidades:</span> {{item.quantity}} Unidades</p>
                        <p><span>Marca:</span> {{item.brand}}</p>
                        <p><span>Modelo:</span> {{item.model}}</p>
                      </div>
                    </div>
                    <div class="menu-container">
                      <button class="menu-btn" onclick="toggleMenuPagSub(event)">&#x22EE;</button>
                      <div class="menu-content" id="menuDropdown">
                        <a href="{% url 'items_ficha' id=item.id %}" class="btn btn-visualizar">Visualizar Ficha Tecnica</a>
                        <a href="{% url 'items_update' id=item.id %}" class="btn btn-edit">Editar</a>
                        <a href="{% url 'items_delete' id=item.id %}" class="btn btn-delete">Excluir</a>
                        <a href="{% url 'items_form_retirar' id=item.id %}" class="btn btn-retirar {% if item.quantity == 0 %} disabled {% endif %}" name="action" value="retirar">Retirar</a>
                      </div>
                    </div> 
                  </div>
                {% endif %}
              {% endfor %}
              {% if not has_equipamentos %}
                <div>
                  <p>Não há itens cadastrados para a sub-categoria <span>"Equipamentos"<span/>.</p>
                </div>
              {% endif %}
            </div>
          </div>

          <div class="item">
            <div class="header" onclick="toggleContent(this)">
              <span class="arrow">&#9654;</span> 
              <h1>Suprimentos</h1>
            </div>
            <div class="content">
              {% for item in item_informatica_list  %}
                {% if item.sub_category == "SUPRIMENTOS" %}
                  <div class="item-row">
                    <div class="dados_items">
                      <div class="description">
                        <p><span>Entrada no estoque:</span></p>
                        <p>{{item.create_at}}</p>
                        <p><span>Nome:</span> {{ item.name }}</p>
                        <p><span>Unidades:</span> {{item.quantity}} Unidades</p>
                        <p><span>Marca:</span> {{item.brand}}</p>
                        <p><span>Modelo:</span> {{item.model}}</p>
                      </div>
                    </div>
                    <div class="menu-container">
                      <button class="menu-btn" onclick="toggleMenuPagSub(event)">&#x22EE;</button>
                      <div class="menu-content" id="menuDropdown">
                        <a href="{% url 'items_ficha' id=item.id %}" class="btn btn-visualizar">Visualizar Ficha Tecnica</a>
                        <a href="{% url 'items_update' id=item.id %}" class="btn btn-edit">Editar</a>
                        <a href="{% url 'items_delete' id=item.id %}" class="btn btn-delete">Excluir</a>
                        <a href="{% url 'items_form_retirar' id=item.id %}" class="btn btn-retirar {% if item.quantity == 0 %} disabled {% endif %}" name="action" value="retirar">Retirar</a>
                      </div>
                    </div> 
                  </div>
                {% endif %}
              {% endfor %}
              {% if not has_suprimentos %}
                <div>
                  <p>Não há itens cadastrados para a sub-categoria <span>"Suprimentos"<span/>.</p>
                </div>
              {% endif %}
            </div>
          </div>
          <div class="item">
            <div class="header" onclick="toggleContent(this)">
              <span class="arrow">&#9654;</span> 
              <h1>Acessórios</h1>
            </div>
            <div class="content">
              {% for item in item_informatica_list  %}
                {% if item.sub_category == "ACESSÓRIOS" %}
                  <div class="item-row">
                    <div class="dados_items">
                      <div class="description">
                        <p><span>Entrada no estoque:</span></p>
                        <p>{{item.create_at}}</p>
                        <p><span>Nome:</span> {{ item.name }}</p>
                        <p><span>Unidades:</span> {{item.quantity}} Unidades</p>
                        <p><span>Marca:</span> {{item.brand}}</p>
                        <p><span>Modelo:</span> {{item.model}}</p>
                      </div>
                    </div>
                    <div class="menu-container">
                      <button class="menu-btn" onclick="toggleMenuPagSub(event)">&#x22EE;</button>
                      <div class="menu-content" id="menuDropdown">
                        <a href="{% url 'items_ficha' id=item.id %}" class="btn btn-visualizar">Visualizar Ficha Tecnica</a>
                        <a href="{% url 'items_update' id=item.id %}" class="btn btn-edit">Editar</a>
                        <a href="{% url 'items_delete' id=item.id %}" class="btn btn-delete">Excluir</a>
                        <a href="{% url 'items_form_retirar' id=item.id %}" class="btn btn-retirar {% if item.quantity == 0 %} disabled {% endif %}" name="action" value="retirar">Retirar</a>
                      </div>
                    </div> 
                  </div>
                {% endif %}
              {% endfor %}
              {% if not has_acessorios %}
                <div>
                  <p>Não há itens cadastrados para a sub-categoria <span>"Acessórios"<span/>.</p>
                </div>
              {% endif %}
            </div>
          </div>
          <div class="item">
            <div class="header" onclick="toggleContent(this)">
              <span class="arrow">&#9654;</span> 
              <h1>Periféricos</h1>
            </div>
            <div class="content">
              {% for item in item_informatica_list  %}
                {% if item.sub_category == "Periféricos" %}
                  <div class="item-row">
                    <div class="dados_items">
                      <div class="description">
                        <p><span>Entrada no estoque:</span></p>
                        <p>{{item.create_at}}</p>
                        <p><span>Nome:</span> {{ item.name }}</p>
                        <p><span>Unidades:</span> {{item.quantity}} Unidades</p>
                        <p><span>Marca:</span> {{item.brand}}</p>
                        <p><span>Modelo:</span> {{item.model}}</p>
                      </div>
                    <div class="menu-container">
                      <button class="menu-btn" onclick="toggleMenuPagSub(event)">&#x22EE;</button>
                      <div class="menu-content" id="menuDropdown">
                        <a href="{% url 'items_ficha' id=item.id %}" class="btn btn-visualizar">Visualizar Ficha Tecnica</a>
                        <a href="{% url 'items_update' id=item.id %}" class="btn btn-edit">Editar</a>
                        <a href="{% url 'items_delete' id=item.id %}" class="btn btn-delete">Excluir</a>
                        <a href="{% url 'items_form_retirar' id=item.id %}" class="btn btn-retirar {% if item.quantity == 0 %} disabled {% endif %}" name="action" value="retirar">Retirar</a>
                      </div>
                    </div> 
                  </div>
                {% endif %}
              {% endfor %}
              {% if not has_perifericos %}
                <div>
                  <p>Não há itens cadastrados para a sub-categoria <span>"Periféricos"<span/>.</p>
                </div>
              {% endif %}
            </div>
          </div>
          <div class="item">
            <div class="header" onclick="toggleContent(this)">
              <span class="arrow">&#9654;</span> 
              <h1>Peças de Reposição</h1>
            </div>
            <div class="content">
              {% for item in item_informatica_list  %}
                {% if item.sub_category == "Peças de reposição" %}
                  <div class="item-row">
                    <div class="dados_items">
                      <div class="description">
                        <p><span>Entrada no estoque:</span></p>
                        <p>{{item.create_at}}</p>
                        <p><span>Nome:</span> {{ item.name }}</p>
                        <p><span>Unidades:</span> {{item.quantity}} Unidades</p>
                        <p><span>Marca:</span> {{item.brand}}</p>
                        <p><span>Modelo:</span> {{item.model}}</p>
                      </div>
                    </div>
                    <div class="menu-container">
                      <button class="menu-btn" onclick="toggleMenuPagSub(event)">&#x22EE;</button>
                      <div class="menu-content" id="menuDropdown">
                        <a href="{% url 'items_ficha' id=item.id %}" class="btn btn-visualizar">Visualizar Ficha Tecnica</a>
                        <a href="{% url 'items_update' id=item.id %}" class="btn btn-edit">Editar</a>
                        <a href="{% url 'items_delete' id=item.id %}" class="btn btn-delete">Excluir</a>
                        <a href="{% url 'items_form_retirar' id=item.id %}" class="btn btn-retirar {% if item.quantity == 0 %} disabled {% endif %}" name="action" value="retirar">Retirar</a>
                      </div>
                    </div> 
                  </div>
                {% endif %}
              {% endfor %}
              {% if not has_pecas_reposicao %}
                <div>
                  <p>Não há itens cadastrados para a sub-categoria <span>"Peças de reposição"<span/>.</p>
                </div>
              {% endif %}
            </div>
          </div>
          <div class="item">
            <div class="header" onclick="toggleContent(this)">
              <span class="arrow">&#9654;</span> 
              <h1>Outros</h1>
            </div>
            <div class="content">
              {% for item in item_informatica_list  %}
                {% if item.sub_category == "Outros" %}
                  <div class="item-row">
                    <div class="dados_items">
                      <div class="description">
                        <p><span>Entrada no estoque:</span></p>
                        <p>{{item.create_at}}</p>
                        <p><span>Nome:</span> {{ item.name }}</p>
                        <p><span>Unidades:</span> {{item.quantity}} Unidades</p>
                        <p><span>Marca:</span> {{item.brand}}</p>
                        <p><span>Modelo:</span> {{item.model}}</p>
                      </div>
                    </div>
                    <div class="menu-container">
                      <button class="menu-btn" onclick="toggleMenuPagSub(event)">&#x22EE;</button>
                      <div class="menu-content" id="menuDropdown">
                        <a href="{% url 'items_ficha' id=item.id %}" class="btn btn-visualizar">Visualizar Ficha Tecnica</a>
                        <a href="{% url 'items_update' id=item.id %}" class="btn btn-edit">Editar</a>
                        <a href="{% url 'items_delete' id=item.id %}" class="btn btn-delete">Excluir</a>
                        <a href="{% url 'items_form_retirar' id=item.id %}" class="btn btn-retirar {% if item.quantity == 0 %} disabled {% endif %}" name="action" value="retirar">Retirar</a>
                      </div>
                    </div> 
                  </div>
                {% endif %}
              {% endfor %}
              {% if not has_outros %}
                <div>
                  <p>Não há itens cadastrados para a sub-categoria <span>"Outros"<span/>.</p>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </form>
    {% else %}
      <p class="notifications_no_items">Não há itens associados a categoria <span>Informatica</span>.</p>
    {% endif %}
    <a href="{% url 'items_main' %}" class="btn btn-delete">Voltar para página inicial</a>
  </div>
{% endblock %}
