* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

body, html {
  background-color: white;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  display: flex;
  height: 95px;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  background-color: #001e5955;
  border: 2px solid black;
}

header a {
  font-size: 20px;
  text-decoration-line: none;
  color: black;
}

header .button_logout {
  background-color: red;
  border-radius: 5px;
  padding: 5px 20px;
  color: white;
}


.menu-button {
  font-size: 30px;
  cursor: pointer;
  background: none;
  border: none;
  color: black;
}

.menu-content {
  display: none;
  background-color: #f0f0f0;
  width: 400px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.menu-content.open {
  display: block;
}

.menu-content a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
}

.menu-content a:hover {
  background-color: #ddd;
}