main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  padding: 0 20px;
}

.container {
  height: 40%;
  width: 80%;
  max-width: 900px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 8px 8px rgba(0, 0, 0, 0.1);
  padding: 40px;
}

.container h1 {
  color: black;
  text-align: center;
  font-size: 2rem;
}

.container .btn {
  text-align: center;
  text-decoration: none;
  font-size: 1.25rem;
  padding: 8px 12px;
  margin: 0 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
}

.container .btn-excluir {
  background-color: red;
  color: black;
}

.container .btn-cancelar {
  background-color: green;
  color: black;
}

.container p {
  font-size: 1.25rem;
  color: black;
  margin: 20px;
}

/* Responsividade */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    height: auto;
    padding: 20px;
  }

  header a {
    font-size: 18px;
  }

  header .button_logout {
    padding: 5px 15px;
  }

  .container {
    width: 90%;
    padding: 15px;
    box-shadow: none;
  }

  .container h1 {
    font-size: 1.75rem;
  }

  .container p {
    font-size: 1rem;
  }

  .container .btn {
    font-size: 1rem;
    padding: 8px 10px;
  }
}

@media (max-width: 480px) {
  header a {
    font-size: 16px;
  }

  header .button_logout {
    padding: 5px 10px;
  }

  .container {
    width: 100%;
    padding: 10px;
  }

  .container h1 {
    font-size: 1.5rem;
  }

  .container p {
    font-size: 0.875rem;
  }

  .container .btn {
    font-size: 0.875rem;
    padding: 6px 8px;
  }
}
