main {
  flex-direction: row;
  justify-content: space-between;
  padding: 0 40px;
  margin-top: 0px;
}

main .dashboard {
  width: 30%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

main .dashboard h2:first-child {
  text-align: center;
}

main .dashboard img {
  width: 85%;
  height: auto;
}

main .dashboard table {
  width: 100%;
  border-collapse: collapse;
}

main .dashboard table thead tr th {
  background-color: #808b8ea5;
  font-size: 20px;
  padding: 10px;
  font-weight: 500;
}

main .dashboard table tbody tr td {
  font-size: 18px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

main .dashboard table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

main .dashboard table tbody tr:hover {
  background-color: #e0e0e0;
}

main .painel {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .container {
  width: 900px;
  height: auto;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px 8px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

main .container form .expandable-list a {
  display: flex;
  color: black;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 1.9rem;
  font-weight: 400;
}

main .container form .expandable-list .disabled-link {
  color: gray;
  font-weight: 100;
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}

main .container .btn:hover {
  background-color: #418650;
}

main .container .btn-cadastrar {
  background-color: green;
  margin: 0 30px 20px;
}

main .container .notifications_no_items {
  text-align: center;
  font-size: 1.5rem;
  color: black;
  margin: 20px;
}

@media (max-width: 768px) {
  main .dashboard img {
    width: 100%;          /* Garante que a imagem ocupe toda a largura do container */
    height: auto;         /* Mantém a proporção da imagem */
    object-fit: contain;  /* Garante que a imagem não distorça */
  }

  main .dashboard table thead tr th, 
  main .dashboard table tbody tr td {
    font-size: 14px; /* Texto menor em dispositivos pequenos */
    padding: 6px;
  }
}

@media (max-width: 480px) {
  main .dashboard img {
    width: 100%;
    height: auto;
    object-fit: contain;  /* Garante que a imagem não distorça */
  }

}
