* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background-color: white;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

header {
  display: flex;
  height: 80px;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  background-color: #07A0C3;
  border: 2px solid black;

}

header a {
  font-size: 20px;
  text-decoration-line: none;
  color: black;
}

header .button_logout {
  background-color: red;
  border-radius: 5px;
  padding: 5px 20px;
  color: white;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 100px;
}

main h1{
  font-size: 50px;
  font-weight: bold;
}

.expandable-list {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;  
}

.expandable-list ul {
  list-style-type: none;
}

.expandable-list a {
  display: flex;
  text-decoration: none;
  color: black;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  cursor: pointer;
  padding: 10px;
  gap: 15px;
  font-size: 30px;
  border-radius: 4px;
  font-weight: 800;
  text-decoration: none;
  margin-bottom: 10px;
}

.expandable-list .disabled-link {
  color: gray;
  font-weight: 100;
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}

.btn {
  background-color: green;
  display: flex;
  font-weight: initial;
  font-size: 20px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  text-align: center;
  text-decoration: none;
}

.btn:hover {
  background-color: #49535f;
}

.btn-cadastrar {
  background-color: green;
  display: flex;
  justify-content: space-around;
  width: 300px;
  font-size: 20px;
  font-weight: 500;
}

























