
main .container {
  width: 900px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px 8px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

main .container form .expandable-list a {
  display: flex;
  color: black;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 1.9rem;
  font-weight: 400;
}

main .container form .expandable-list .disabled-link {
  color: gray;
  font-weight: 100;
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}

main .container .btn:hover {
  background-color: #418650;
}

main .container .btn-cadastrar {
  background-color: green;
  margin: 0 30px 20px;
}

main .container .notifications_no_items {
  text-align: center;
  font-size: 1.5rem;
  color: black;
  margin: 20px;
}

/* Responsividade */
@media (max-width: 768px) {
  header {
      flex-direction: column;
      height: auto;
      padding: 20px;
  }

  .container {
      width: 100%;
      padding: 10px;
      box-shadow: none;
  }

  .container h1 {
      font-size: 2rem;
  }

  .container .expandable-list a {
      font-size: 1.2rem;
      padding: 8px;
  }

  .btn {
      font-size: 0.875rem;
      padding: 8px 16px;
  }
}

@media (max-width: 480px) {
  header a {
      font-size: 18px;
  }

  header .button_logout {
      padding: 5px 15px;
  }

  .container h1 {
      font-size: 1.5rem;
  }

  .container .expandable-list a {
      font-size: 1rem;
  }

  .btn {
      font-size: 0.75rem;
  }
}
