
main .container {
  width: 900px;
  gap: 20px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

main .container form {
  padding: 0;
}

main .container .expandable-list {
  display: flex;
  flex-direction: column;  
}

main .container .expandable-list .item {
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

main .container .expandable-list .item .header {
  display: flex;
  background-color: #f1f1f1;
  cursor: pointer;
  padding: 10px;
  gap: 15px;
}

main .container .expandable-list .item .header .arrow {
  align-self: center;
  font-size: 1.5rem;
}

main .container .expandable-list .item .header h1 {
  font-size: 1.9rem;
}

main .container .expandable-list .item .content {
  display: none;
  padding: 10px;
}

main .expandable-list .item .content.open {
  display: flex;
  flex-direction: column;
}

main .container .expandable-list .item .content.open .item-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}

main .container .expandable-list .item .content.open .description {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

main .container .expandable-list .item .content.open p {
  font-size: 20px;
  font-weight: normal;
}

main .container .expandable-list .item p span {
  font-weight: bold;
}

main .container .expandable-list .item .menu-container button {
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

main .container .expandable-list .item .menu-container .menu-content {
  position: absolute;
  background-color: white;
  border: 1px solid #ddd; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
  padding: 10px; 
  width: 300px;
}

main .container .expandable-list .item .menu-container .menu-content a {
  display: block;
}

main .container .expandable-list .header.active .arrow {
  transform: rotate(90deg);
}

main .container .expandable-list .item .menu-container .menu-content .btn-visualizar {
  background-color: #4842548a;

}

main .container .expandable-list .item .menu-container .menu-content .btn-edit {
  background-color: #007bff;
}

main .container .expandable-list .item .menu-container .menu-content .btn-retirar {
  background-color: green;
}

.btn.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.5;
}

main .notifications_no_items {
  font-size: 25px;
  color: black;
  margin: 20px;
}
