main {
  padding: 40px;
  display: flex;
  align-items: center;
  flex-direction: column; /* Garante que elementos fiquem empilhados em telas pequenas */
}

main .btn {
  margin: 0;
}

h1 {
  width: 80%;
  margin-top: 30px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 30px;
}

.search-bar,
.container-download {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.container-download {
  margin-top: 10px;
}

#searchFormContainer {
  width: 80%;
}

.form-search label {
  width: 100%;
  display: flex;
  font-size: 20px;
  font-weight: 600;
  color: black;
  text-align: start;
  margin-top: 10px;
}

.btn-download {
  background-color: #007bff;
  color: white;
  padding: 0;
  margin: 0;
}

table {
  width: 80%;
  border-collapse: collapse;
  margin-top: 10px;
}

thead th {
  background-color: #808b8ea5;
  color: white;
  font-size: 25px;
  padding: 10px;
  text-align: center;
  font-weight: 500;
}

tbody td {
  font-size: 20px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #e0e0e0;
}

/* Responsividade para telas menores */
@media (max-width: 1024px) {
  h1, .form-search, table {
    width: 90%;
  }

  thead th {
    font-size: 22px;
  }

  tbody td {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  h1, .form-search, table {
    width: 100%;
  }

  main {
    padding: 20px;
  }

  .download-button {
    padding-left: 0;
  }

  thead th {
    font-size: 20px;
    padding: 8px;
  }

  tbody td {
    font-size: 16px;
    padding: 8px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 24px;
    margin-top: 20px;
  }

  .download-button .btn {
    padding: 8px 16px;
  }

  thead th {
    font-size: 18px;
    padding: 6px;
  }

  tbody td {
    font-size: 14px;
    padding: 6px;
  }
}
