main .container {
  padding: 40px;
}

main .container h1 {
  margin-bottom: 20px;
}

main .container p {
  font-size: 25px;
  text-align: center;
}

main .container p span {
  font-weight: 600;
}


main .container form .form-group label {
  margin-top: 20px;
}

main .container form input[type="text"],
main .container form input[type="number"] {
  border: 1px solid #ccc;
  border-radius: 3px;
}

main .container form .form-group .error-list,
main .container form .form-group .error-messages {
  color: #ff0000;
  font-size: 16px;
  margin: 0;
  padding: 0;
  list-style: none;
}

main .container form .form-group .field-error,
main .container form .form-group .non-field-error {
  margin: 0;
  padding: 0;
}

main .container .menu-btn {
  display: flex;
  justify-content: space-between;

}

main .container .menu-btn .btn-save {
  width: 50%;
}

main .container .menu-btn .btn-cancelar {
  width: 50%;
}


/* Media Queries para dispositivos menores */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    height: auto;
    padding: 20px;
  }

  header a {
    font-size: 18px;
  }

  header .button_logout {
    padding: 5px 15px;
  }

  .container {
    width: 90%;
    padding: 15px;
  }

  .container h1 {
    font-size: 25px;
  }

  .container p {
    font-size: 18px;
  }

  input[type="text"],
  input[type="number"],
  form .form-control {
    font-size: 16px;
  }

  label {
    font-size: 16px;
  }

  main .btn,
  main a {
    font-size: 16px;
    padding: 6px 10px;
  }
}

@media (max-width: 480px) {
  header a {
    font-size: 16px;
  }

  .container {
    width: 100%;
    padding: 10px;
  }

  .container h1 {
    font-size: 20px;
  }

  .container p {
    font-size: 16px;
  }

  input[type="text"],
  input[type="number"],
  form .form-control {
    font-size: 14px;
  }

  label {
    font-size: 14px;
  }

  main .btn,
  main a {
    font-size: 14px;
    padding: 5px 8px;
  }

  .error-list,
  .error-messages {
    font-size: 14px;
  }
}
