main .container {
  display: flex;
  flex-direction: column;
  padding: 30px;

}

main .container p {
  font-size: 1.25rem;
  margin: 20px;
  text-align: center;
}

main .container form {
  flex-direction: row;
  padding: 0px;
}

main .container form .btn-delete {
  width: 50%;
}

main .container form .btn-cancelar {
  background-color: green;
  width: 50%;
}

/* Responsividade */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    height: auto;
    padding: 20px;
  }

  header a {
    font-size: 18px;
  }

  header .button_logout {
    padding: 5px 15px;
  }

  .container {
    width: 90%;
    padding: 15px;
    box-shadow: none;
  }

  .container h1 {
    font-size: 1.75rem;
  }

  .container p {
    font-size: 1rem;
  }

  .container .btn {
    font-size: 1rem;
    padding: 8px 10px;
  }
}

@media (max-width: 480px) {
  header a {
    font-size: 16px;
  }

  header .button_logout {
    padding: 5px 10px;
  }

  .container {
    width: 100%;
    padding: 10px;
  }

  .container h1 {
    font-size: 1.5rem;
  }

  .container p {
    font-size: 0.875rem;
  }

  .container .btn {
    font-size: 0.875rem;
    padding: 6px 8px;
  }
}
