
main .container {
  padding: 40px;
}

main .container h1 {
  margin: 30px 0;
}

main .container form label {
  font-size: 18px;
  font-weight: 600;
}

main .container form input[type="text"],
main .container form input[type="password"]{
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 10px 0;
}

main .container form .btn-login {
  background-color: green;
  color: black;
}